<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo"><%= link_to('Blog App', posts_path)  %></div>

      <div class="header__right">
        <% if user_signed_in? %>
          <p>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
          </p>
          <p>
            <%= link_to('Profile', about_path)  %>  
          </p>
        <% else %>
          <p>
          <%= link_to('Login', new_user_session_path)  %>  
          </p>
        <% end %>
      </div>
    </header>
    <div class="container">

      <% if notice %>
      <div id="note">
        <%= notice %>
      </div>
      <% end %>

      <!-- Content here -->
      <%= yield %>

    </div>
    <footer>@2018</footer>

  </body>
</html>
