<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="alert alert-warning" role="alert" style="display: none;">
        <%= notice %>
      </div>

      <!-- Content here -->
      <%= yield %>
    </div>
  </body>
</html>
